In [ ]:
#que1
'''
values
'hello'
-87.8
6

expressions
- 
/ 
+
*
'''

In [ ]:
#que2 
#string and variable
    
'''variable holds values
but string is itself a value

string comes within quotes but vraible needs no quotes'''

In [ ]:
#que3
#three different data types
'''
1. string
2.numeric
3.boolean'''

In [ ]:
#que4
'''expression is made of varible, operator and a value or simply operator and value
it does some operation on values or variables and return values directly or to another variable'''

In [ ]:
#que5
'''1.difference betwwen the expression and statement is that expression returns a value
statements perform some action and doesnot return value

2.eg print(10)- statement
   10/3 - expression

3.expression can be part of a statement.   
   '''

In [1]:
#que6
'''bacon = 22 - statement
bacon + 1 -expression

bacon may contan 23 '''

23

In [3]:
#que7
print('spam' + 'spamspam')
print('spam' * 3)

spamspamspam
spamspamspam

In [ ]:
#que8
'''egg is valid variable beacuse variable name can start with alaphabet
100 is not valid variable name beacuse variables cannot start with alphabet'''

In [6]:
#que9
a=7/3
print(int(a))
print(float(a))
print(str(a))

2
2.3333333333333335
2.3333333333333335

In [8]:
#que10
#it cannot concatenate int and str together
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'